.swiper-pagination-bullet-active{
    background-color: #fde047;
}
.swiper-button-next{
    color: #fde047;
}

.swiper-button-prev{
    color: #fde047;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity:0;

}